<nav id="navbar">
    <div class="container">
        <h1 class="logo"><a href="/"><span class="text-warning">First</span> Hotel</a></h1>
        <ul>
            <li ><a class="current" href="/">Home</a></li>
            <li><a href="/customers">Customers</a></li>
            <li><a href="/rooms">Rooms</a></li>
            <li><a href="/bookings">Bookings</a></li>
        </ul>
    </div>
</nav>